# Flask
SECRET_KEY=cambia-questa-chiave-segreta
FLASK_ENV=development
DATABASE_URL=sqlite:///bosco.db

# SuperAdmin
SUPERADMIN_USER=SuperAdmin
SUPERADMIN_EMAIL=bosco@kjxii.test
SUPERADMIN_PASSWORD=bosco123!

# Game Settings
TURN_DURATION_MINUTES=10
